:root {
    --font:sans-serif;
}

:root {
    --blue-text:#15425F;
}

body { 
  background-color: #fcf0e1    
}

.title {
  font: 40px var(--font);
  /*color: #15425F;*/
  font-weight: bold;
  /*color: var(--blue-text);*/
}

#main-title {
  font: 50px var(--font);
  font-weight: bold;
  /*color: var(--blue-text);*/
}

.subtitle {
  font: 30px var(--font);
  /*color: #15425F;*/
  font-weight: bold;
}

.default-text {
  font: 18px var(--font);
  font-weight: 300;
}

.default-text p{
  font: 18px var(--font);
  font-weight: 300;
}

.axis text {
  font: 14px var(--font);
  font-weight: bold;
}

.x.axis text { 
  display: none; 
}

.axis path {
  display: none;
}

.axis.y {
  text-anchor: start
}

.axis .tick {
  stroke-width:1px;
  stroke-dasharray: 2px 2px;
  stroke-opacity: .5;
}

/*p {
  font: 20px var(--font);
}*/

/*svg {
  border:1px solid #f0f;
}*/

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.small-text {
  font: 14px var(--font);
}

.clickable {
  cursor: pointer;
}

.label-text {
  font: 25px var(--font);
  font-weight: 300;
}