body { 
  background-color: #fcf0e1    
}

.title {
  font: 50px sans-serif;
  /*color: #15425F;*/
  font-weight: bold;
}

.subtitle {
  font: 30px sans-serif;
  /*color: #15425F;*/
  font-weight: bold;
}

.default-text {
  font: 20px sans-serif;
  font-weight: 300;
}

.default-text p{
  font: 20px sans-serif;
  font-weight: 300;
}

.axis text {
  font: 14px sans-serif;
  font-weight: bold;
}

.x.axis text { 
  display: none; 
}

.axis path {
  display: none;
}

.axis.y {
  text-anchor: start
}

.axis .tick {
  stroke-width:1px;
  stroke-dasharray: 2px 2px;
  stroke-opacity: .5;
}

p {
  font: 20px sans-serif;
}

/*svg {
  border:1px solid #f0f;
}*/

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.small-text {
  font: 12px sans-serif;
}

.clickable {
  cursor: pointer;
}

.label-text {
  font: 25px sans-serif;
  font-weight: 300;
}